!!!
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title PokeBattle
    link(rel="stylesheet", href="/css/vendor.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700', rel='stylesheet', type='text/css')
  body
    .loading-container
      .loading-message Loading...
    #navigation
    #content
      #header
        #main-nav
          nav#rightmenu.right
            ul
              li
                a(href="#")
                  span.icon.icon-search
              li
                a(href="#")
                  span.icon.icon-user
          #logo
            img(id="logoimg", src="/images/logo/pb_red.png", height="60px", alt="pokebattle.com")
          nav#sections
            ul
              li
                a(href="//sim.pokebattle.com") Simulator
              li
                a(href="//pokebattle.com/forums") Forums
              li
                a(href="//pokebattle.com/dex") Pokedex
              li
                a(href="#") Gadgets
              li
                a(href="#") Videos
        #sub-nav
      #main-section.clearfix
        .window.chat_window.hidden
          .chat
          .main_buttons
            .section
              .button.big.find_battle
                span.glyphicon.glyphicon-globe
                |  Find battle
              p Format:
              .dropdown
                .select.select-format(data-toggle = "dropdown")
                ul.dropdown-menu.format-dropdown(role = "menu")
                  li
                    a.select-format-dropdown-item(data-format="xy") Pokebank XY
                  li
                    a.select-format-dropdown-item(data-format="bw") Pokemon BW
              p Select a team:
              .dropdown
                .select.select-team(data-toggle = "dropdown")
                  | Your team
                ul.dropdown-menu.team-dropdown(role = "menu")
            .section
              .button.teambuilder_button
                span.glyphicon.glyphicon-pencil
                |  Teambuilder
        #teambuilder-section.window.hidden
    script(src='/js/data.js')
    script(src='/js/vendor.js')
    script(src='/js/templates.js')
    script(src='/js/app.js')
    script.
      //- Authentication
      (function() {
        var TOKEN = "#{user.token}";
        var ID = "#{user.id}";
        PokeBattle.events.on("connect", function() {
          PokeBattle.socket.send('login', ID, TOKEN);
        });
      }).call(this);

      //- For Typekit
      (function() {
        var config = {
          kitId: 'bgv2brq',
          scriptTimeout: 1500
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
