!!!
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport", content="width=device-width")
    title PokeBattle
    link(rel="icon", type="image/png", href="http://s3.pokebattle.com/img/favicon.png")
    link(rel="stylesheet", href="/css/vendor.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    .loading-container
      .loading-message Loading...
    #navigation
    #content
      #header
        #main-nav
          #leftmenu.left
            a(href="#").show-navigation
              span.icon.icon-menu
          #logo
            img(id="logoimg", src="/images/logo/pb_red.png", height="60px", alt="pokebattle.com")
          nav#sections
            ul
              li
                a(href="//sim.pokebattle.com") Simulator
              li
                a(href="//pokebattle.com/forums", target="_blank") Forums
              li
                a(href="//pokebattle.com/dex", target="_blank") Pokedex
              li
                a(href="#") Gadgets
              li
                a(href="#") Videos
        #sub-nav
      #main-section.clearfix
        .window.chat_window.hidden
          .chat
          .main_buttons
            .section
              .button.big.find_battle
                span.find-icon.icon-globe
                |  Find battle
              .find_battle_select_team
            .section
              .button.teambuilder_button
                span.icon-pencil
                |  Teambuilder
            .section
              .button.display_credits Credits
        #teambuilder-section.window.hidden
        #battle-list-section.window.hidden
    #messages
    script(src='/js/data.js')
    script(src='/js/vendor.js')
    script(src='/js/templates.js')
    script(src='/js/app.js')
    script.
      // quicker click response on mobile devices
      $(document).ready(function() {
        FastClick.attach(document.body);
      });

      //- Authentication
      (function() {
        var TOKEN = "#{user.token}";
        var ID = "#{user.id}";
        PokeBattle.events.on("connect", function() {
          PokeBattle.socket.send('login', ID, TOKEN);
        });
      }).call(this);

      //- For Typekit
      (function() {
        var config = {
          kitId: 'bgv2brq',
          scriptTimeout: 1500
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
