extends ../layout

block content
  .m4.mt-header.pt1
    h2 Your replays
    #all-replays.row-fluid

block footer
  script(src=asset_path('js/data.js'))
  script(src=asset_path('js/vendor.js'))
  script(src=asset_path('js/templates.js'))
  script(src=asset_path('js/replays.js'))
  script.
    var replays = new Replays(!{JSON.stringify(replays)});
    new ReplayView({el: '#all-replays', collection: replays}).render();
