extends layout

block content
  .fill.flex-center
    unless replay
      p No replay found.
    else
      #replay
      script.
        var replay = #{replay.toJSON()};
        var battle = PokeBattle.battles.spectateBattle(
          replay.battleId,
          replay.generation,
          replay.numActive,
          null, // index
          replay.players,
          [], // spectators
          replay.log
        );
        var backgroundNumber = PokeBattle.battles.generateBackgroundNumber(replay.battleId, 6);
        var $battle = $(JST['battle_window']({battle, window, backgroundNumber}));
        $battle.appendTo($('#replay'));
        battle.view = new BattleView({el: $battle, model: battle});

  block footer
    if replay
      script.
        var PokeBattle = {};
        PokeBattle.autoConnect = false;
      script(src=asset_path('js/data.js', {fingerprint: replay.version('js/data.js')}))
      script(src=asset_path('js/vendor.js', {fingerprint: replay.version('js/vendor.js')}))
      script(src=asset_path('js/templates.js', {fingerprint: replay.version('js/templates.js')}))
      script(src=asset_path('js/app.js', {fingerprint: replay.version('js/app.js')}))
