each pokemon, i in pokemonList
  li(data-pokemon-index=i, data-pokemon-cid=pokemon.cid)
    - var style = window.PokemonIconBackground(pokemon)
    .pokemon_icon(style=style)
    .pokemon-middle
      if pokemon.isNull
        em.name Empty
      else
        .name= pokemon.get("name") || pokemon.get("species")
        .pokemon-pbv
          | PBV: 
          span.pbv-value= pokemon.getPBV()