p
  strong HP:
  |  #{pokemon.getPercentHP()}%
  if pokemon.has('hp')
    |  (#{pokemon.get('hp')}/#{pokemon.get('maxHP')})

  br

  if pokemon.has('ability')
    strong Ability:
    |  #{pokemon.get('ability')}
  else
    strong Possible abilities:
    |  #{pokemon.getAbilities().join(', ')}

  br

  strong Status:
  |  #{pokemon.getStatus()}

if pokemon.has('moves')
  .hover_info_moves
    each moveName, i in pokemon.get('moves')
      - var moveClass = pokemon.get('moveTypes')[i].toLowerCase()
      - var pp        = pokemon.get('pp')[i]
      - var maxPP     = pokemon.get('maxPP')[i]
      .button.hover_info(class = moveClass)
        .main_text= moveName
        .meta_info
          = pp
          small /#{maxPP}
