mixin printStat(statName, keyName)
  tr
    td
      strong #{statName}:
    td
      input(type="text", class="ev-entry", data-stat=keyName)
    td
      input(type="text", class="iv-entry", data-stat=keyName)
    td.stat-total(data-stat=keyName)= pokemon.stat(keyName)

.clearfix
  .species
    select.species_list
      each species in speciesList
        - var selected = (species === pokemon.get("name"))
        option(value=species, selected=selected)= species
    .forme-sprite-box
      - var id = ("000" + pokemon.getSpecies().id).substr(-3)
      - var url = "http://sprites.pokecheck.org/i/" + id + ".gif"
      img.forme-sprite(src=url, alt="")
  .meta-info
    .row-fluid
      .span4
        .non-stats
          div
            span Ability:
            select.selected_ability
              each ability in pokemon.getAbilities()
                - var selected = (ability == pokemon.get("ability"))
                option(value=ability, selected=selected)= ability
          div
            span Nature:
            select.selected_nature
              each nature in pokemon.getNatures()
                - var selected = (nature == pokemon.get("nature"))
                option(value=nature, selected=selected)= nature
          div
            span Item:
            select.selected_item
              option(value="")
              each itemName in itemList
                - var selected = (itemName == pokemon.get("item"))
                option(value=itemName, selected=selected)= itemName
          div
            span Gender:
            select.selected_gender
              each gender in pokemon.getGenders()
                - var selected = (gender === pokemon.get("gender"))
                - var displayedGender = gender
                if gender === "F"
                  - displayedGender = "Female"
                else if gender === "M"
                  - displayedGender = "Male"
                option(value=gender, selected=selected)= displayedGender
          div
            span Level:
            input.selected_level(type="text", value=pokemon.get('level'))
          div
            span Happiness:
            input.selected_happiness(type="text", value=pokemon.get('happiness'))
          div
            span Shiny?
            input.selected_shininess(type="checkbox", value=pokemon.get('shiny'))

      .span8
        table.stats
          thead
            th
            th EV
            th IV
            th Stat
          tbody
            +printStat("HP", "hp")
            +printStat("Attack", "attack")
            +printStat("Defense", "defense")
            +printStat("Special Attack", "specialAttack")
            +printStat("Special Defense", "specialDefense")
            +printStat("Speed", "speed")
            tr
              td
              td.total-evs
              td(colspan="2")
                | Hidden Power: 
                select.select-hidden-power
                  - var hpType = window.hiddenPower.BW.type(pokemon.get('ivs'))
                  each value, type in window.hiddenPower.BW.ivs
                    - var displayType = type[0].toUpperCase() + type.substr(1)
                    - var selected = (displayType === hpType)
                    option(value=type, selected=selected)= displayType

.selected_moves
  h2 Moves:
  .row-fluid
    .span3
      input(type="text", value=pokemon.get("moves")[0])
    .span3
      input(type="text", value=pokemon.get("moves")[1])
    .span3
      input(type="text", value=pokemon.get("moves")[2])
    .span3
      input(type="text", value=pokemon.get("moves")[3])

table.table.table-hover.table-moves
  thead
    tr
      th Name
      th Type
      th Category
      th Power
      th Accuracy
      th PP
      th Description
  tbody
    each move in pokemon.getMovepool()
      tr(data-move-id=move.name)
        td= move.name
        td= move.type
        td= move.damage[0].toUpperCase() + move.damage.substr(1)
        td= (move.power == 0) ? "-" : move.power
        td= (move.accuracy == 0) ? "-" : move.accuracy + '%'
        td= move.pp
        td Description
